h2 {
  text-align: center;
  padding: 5px;
}
.blog-card {
  background-color: #ffa50014;
  width: 70%;
  margin: 0 auto;
}
.additional-info {
  background-color: rgba(200, 199, 199, 0.119);
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
  height: 1.6em;
  border-radius: 5px;
  color: rgb(91, 91, 91);
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.description-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 20px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 13px -7px #a6a6a6;
}
.description-container p {
  max-width: 55ch;
  text-align: left;
  font-size: 1.2em;
}
.blog-image {
  max-width: 50%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
