.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    max-width: 400px;
    background-color: #ffa50014;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -10px black;
  }
  
  .form {
    display: block;
  }
  
  .form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    font-weight: bold;
  }
  
  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
  }
  
  .input-container textarea {
    resize: vertical;
  }
  
  .button-container {
    text-align: center;
  }
  .add-ingredient-btn{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2994a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .add-ingredient-btn:hover{
    background-color: #ff8c00;

  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2994a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff8c00;
  }
  