<header class="header">
    <div class="logo">HealthyBite</div>
    <nav class="nav">
        <button routerLink="/">Home</button>
        <button routerLink="/recipes/catalog">Catalog</button>
        <button>About</button>
        <ng-container *ngIf="isLogged">
            <button routerLink="/recipes/create">Add Recipe</button>
            <button routerLink="/profile">Profile</button>
            <button (click)="logoutHandler()">Logout</button>
        </ng-container>
        <ng-container *ngIf="!isLogged">
            <button routerLink="/login">Login</button>
            <button routerLink="/register">Register</button>
        </ng-container>
    </nav>
</header>