<header class="header">
    <div class="logo" routerLink="/">HealthyBite</div>
    <nav class="nav">
        <button routerLink="/">Home</button>
        <button routerLink="/recipes/catalog">Catalog</button>
        <ng-container *ngIf="isLogged">
            <button routerLink="/recipes/create">Add Recipe</button>
            <button
                [routerLink]="'/users/profile/'+ getUserId()">Profile</button>
            <button (click)="logoutHandler()">Logout</button>
        </ng-container>
        <ng-container *ngIf="!isLogged">
            <button routerLink="/users/login">Login</button>
            <button routerLink="/users/register">Register</button>
        </ng-container>
    </nav>
</header>