<app-error-msg [errorMessage]="errorMessage" />
<div class="container">
    <div class="form-container">
        <form id="register-form" class="form" [formGroup]="registerForm"
            (ngSubmit)="registerHandler()">
            <h2>Register</h2>
            <div class="input-container">
                <input type="text" placeholder="username" name="username"
                    formControlName="username">
                <i class="fas fa-user"></i>
            </div>
            <ng-container *ngIf="registerForm.get('username')?.touched">
                <p class="error"
                    *ngIf="registerForm.get('username')?.errors?.['required']">Username
                    is required</p>
                <p class="error"
                    *ngIf="registerForm.get('username')?.errors?.['minlength']">Username
                    should be at least 3 characters long</p>
            </ng-container>
            <div class="input-container">
                <input type="email" placeholder="email" name="email"
                    formArrayName="email" formControlName="email">
                <i class="fas fa-envelope"></i>
            </div>
            <ng-container *ngIf="registerForm.get('email')?.touched">
                <p class="error"
                    *ngIf="registerForm.get('email')?.errors?.['required']">Email
                    is required</p>
                <p class="error"
                    *ngIf="registerForm.get('email')?.errors?.['pattern']">Invalid
                    Email</p>
            </ng-container>
            <ng-container formGroupName="passGroup">
                <div class="input-container">
                    <input type="password" placeholder="password"
                        name="password" formControlName="password">
                    <i class="fas fa-lock"></i>
                </div>
                <ng-container
                    *ngIf="registerForm.get('passGroup')?.get('password')?.touched">
                    <p class="error"
                        *ngIf="registerForm.get('passGroup')?.get('password')?.errors?.['required']">Password
                        is required</p>
                    <p class="error"
                        *ngIf="registerForm.get('passGroup')?.get('password')?.errors?.['minlength']">Password
                        should be at least 5 characters long</p>
                </ng-container>
                <div class="input-container">
                    <input type="password"
                        placeholder="repeat password" name="rePass"
                        formControlName="rePass"
                        [class]="registerForm.get('passGroup')?.errors?.['passwordMatchValidator'] ? 'ng-invalid' : '' ">
                    <i class="fas fa-lock"></i>
                </div>
                <ng-container
                    *ngIf="registerForm.get('passGroup')?.get('rePass')?.touched">
                    <p class="error"
                        *ngIf="registerForm.get('passGroup')?.errors?.['passwordMatchValidator']">Password
                        mismatch</p>
                </ng-container>
            </ng-container>
            <button>Register</button>
            <p>Already have an account? <a href="#"
                    id="login-link">Login</a></p>
        </form>
    </div>
</div>
