.recipe-section {
  background-color: #ffdb9e90;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.recipe-section h2 {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  position: relative;
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-link {
  display: block;
  text-decoration: none;
}

.recipe-image {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
  border-radius: 180px;
}

.recipe-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-title {
  margin-top: 20px;
}
