<div class="container">
    <div class="form-container">
        <form id="createRecipeForm">
            <h2>Edit Recipe</h2>
            <div class="input-container">
                <label for="recipe-name">Recipe Name:</label>
                <input type="text" id="recipe-name" name="recipeName">
            </div>
            <div class="input-container">
                <label for="recipe-image-url">Recipe Image URL:</label>
                <input type="url" id="recipe-image-url" name="recipeImageUrl"
                    placeholder="Enter image URL">
            </div>
            <div id="ingredients" formArrayName="ingredients">
                <div class="input-container">
                    <label>Ingredient</label>
                    <input type="text">
                </div>
                <div class="add-ingredient-btn">Add ingredient</div>
            </div>
            <div class="input-container">
                <label for="instructions">Instructions:</label>
                <textarea id="instructions" name="instructions"
                    rows="6"></textarea>
            </div>
            <button type="submit">Submit Recipe</button>
        </form>
    </div>
</div>
