.error-message-container {
    position: fixed;
    top: 20%;
    width: 30%;
    left: 35%   ;
    background-color: rgb(255, 0, 0); /* Adjust the background color and opacity as needed */
    color: white; /* Adjust the text color */
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Ensure the error message is above other elements */
  }
  .error-message {
    color: white;
    font-weight: bold;
  }