.error-message-container {
    position: fixed;
    top: 20%;
    width: 30%;
    left: 35%   ;
    background-color: #ffa50014;
    border: 1px solid red;
    color: white; 
    padding: 10px;
    text-align: center;
    z-index: 1000; 
  }
  .error-message {
    color: red;
    font-weight: bold;
  }