<div class="recipe-card">
    <img src="{{recipe?.imageUrl}}" alt="Recipe Image" class="recipe-image">
    <div class="recipe-details">
        <ng-container class="add-to-favorites-container">
            <button class="details-btn">Add to Favorites</button>
        </ng-container>
        <ng-container class="add-to-favorites-container">
            <button class="details-btn">Edit</button>
            <button class="details-btn">Delete</button>
        </ng-container>
        <h2 class="recipe-title">{{recipe?.recipeName}}</h2>
        <p class="recipe-description">{{recipe?.owner}}</p>
        <div class="recipe-sections">
            <div class="ingredients-section">
                <h3>Ingredients:</h3>
                <ul class="ingredient-list">
                    <li
                        *ngFor="let ingredient of recipe?.ingredients">{{ingredient}}</li>
                </ul>
            </div>
            <div class="instructions-section">
                <h3>Instructions:</h3>
                <p class="recipe-instructions">{{recipe?.instructions}}</p>
            </div>
        </div>
    </div>
</div>
