.recipe-card {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #ffa50014;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative; /* Required for absolute positioning */
}

.recipe-details {
  padding: 20px;
}

.recipe-title {
  font-size: 24px;
}
.recipe-description{
  color: #707070;
}

.recipe-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.recipe-image {
  max-width: 60%; /* Ensure the image doesn't exceed the container width */
  height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add-to-favorites-container {
  display: flex;
  justify-content: center;
}

.details-btn {
  margin: 5px 5px; /* Adjust button margin */
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-favorites-btn:hover {
  background-color: #ff4500;
}

@media only screen and (min-width: 600px) {
  .recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
