<app-error-msg [errorMessage]="errorMessage"></app-error-msg>

<div class="container">
  <div class="form-container">
    <form id="login-form" class="form" [formGroup]="loginForm"
      (ngSubmit)="loginHandler()">
      <h2>Login</h2>
      <div class="input-container">
        <input id="email" type="text" name="email" placeholder="email"
          formControlName="email" />
        <i class="fas fa-envelope"></i>
      </div>
      <div class="input-container">
        <input id="password" type="password" name="password"
          placeholder="password" formControlName="password" />
        <i class="fas fa-lock"></i>
      </div>
      <button>Login</button>
      <p>Don't have an account? <span class="register-btn" routerLink="/users/register">Register</span></p>
    </form>
  </div>
</div>
